@import "tailwindcss";
@config "./tailwind.config.js";

@layer base {
    body {
        @apply bg-background text-light overflow-x-hidden;
    }
}

@layer components {
    .glass {
        background: rgba(13, 13, 13, 0.7);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.1);
    }

    .glass-card {
        background: linear-gradient(233deg, #000 0%, #0e0e0e 78%, #033629 100%);
        backdrop-filter: blur(10px);
        border: 1px solid #424242;
    }

    .text-gradient {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #ffffff 0%, #bfbdbd 100%);
    }

    .text-gradient-green {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(90deg, #47ffb7 0%, #00ffb2 100%);
    }
}

@keyframes story-progress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}